body {
    background-color: #146363;
    color: white;
}


.logo {
    width: 100%;
    max-width: 800px;
    height: auto;
    display: block;
    margin-top: 24px;
    margin-left: 24px;
}


.guide-list {
    display: flex;
    flex-direction: column;

    gap: 12px;
}


.guide {
    display: flex;
    align-items: center;

    gap: 16px;
}


.guide-img {
    width: 48px;
    max-width: 48px;

    flex-shrink: 0;
}

.guide-title {
    margin: 0;
    min-width: 180px;
}

.guide-text {
    margin: 0;
}





.guide-popup {
    display: flex;
    align-items: center;

    gap: 16px;
    margin-bottom: 24px;
}

.popup-img {
    width: 302px;
    height: 150px;

    flex-shrink: 0;
}

.popup-contents {
    display: flex;
    flex-direction: column;

    gap: 10px;
}


.popup-item {
    display: flex;
    align-items: center;

    gap: 10px;
}

.popup-contents-img {
    width: 35px;
    height: 35px;

    flex-shrink: 0;
}

.popup-text {
    margin: 0;

    flex: 1;
    line-height: 1.5;
}


a {
    color: yellow;
    text-decoration: none;
}







@media (max-width: 600px) {

    * {
        font-family:
            -apple-system,
            BlinkMacSystemFont,
            "Helvetica Neue",
            "Hiragino Sans",
            sans-serif !important;
    }

    .logo {
        width: 150px;
        height: auto;
    }

    .guide {
        align-items: flex-start;

        gap: 10px;
    }

    .guide-img {
        width: 36px;
        max-width: 36px;
    }

    .guide-title {
        min-width: 90px;

        font-size: 14px;
    }

    .guide-text {
        font-size: 14px;
        line-height: 1.5;
    }

    .guide-popup {
        flex-direction: column;
        align-items: flex-start;

        gap: 12px;
    }

    .popup-img {
        width: 100%;
        height: auto;

        max-width: 250px;
    }


    .logo {
        width: 90vw;
        margin: 24px auto 0;
    }

}